@using FrontEnd.Controllers
@{
	ViewData["Title"] = "Sync Databases";
	string[] TableHeaders = new string[] {"ID"
						,"First Name"
						,"Last Name"
						,"Sex"
						,"Birth Date"
						,"Status"
						,"Updated At"};
	CustomersViewModel? Model = ViewData.Model as CustomersViewModel;
	MySqlController mySqlController = new MySqlController();
	MongoController mongoController = new MongoController();
}

<style>
	.add-customer {
		max-width: 800px;
		margin-bottom: 20px;
	}

	.form-group {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}

		.form-group input,
		.form-group select,
		.form-group textarea {
			padding: 8px;
			background-color: #fff;
			border: 1px solid #ddd;
			flex: 1; /* Equal width for input fields */
			margin-right: 10px; /* Spacing between input fields */
		}

			/* Adjust the width for specific inputs if needed */
			.form-group input[type="date"] {
				/* Additional styling for date input, adjust as needed */
				width: 200px;
			}

	.table-container {
		display: flex;
	}

	.table {
		flex: 1;
		margin-right: 20px;
	}

		.table h3 {
			margin-bottom: 10px;
			color:aliceblue;
		}

		.table table {
			width: 100%;
			background-color: azure;
		}
</style>

<div class="add-customer">
	<h3>Add New Customer</h3>
	<form id="customerForm" method="post">
		<div class="form-group">
			<input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
			<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
			<select class="form-control" id="sex" name="sex" required>
				<option value="male">Male</option>
				<option value="female">Female</option>
			</select>
			<input type="date" class="form-control" id="birthDate" name="birthDate" placeholder="Birth Date" required>
		</div>
		<button type="submit" class="btn btn-success">Add Customer</button>
	</form>
</div>


<div class="table-container">
	<div class="table">
		<h3>MySQL Database</h3>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					@{
						foreach (var head in TableHeaders)
						{
							<th>
								@head
							</th>
						}
					}
				</tr>
			</thead>
			<tbody>
				@{
					if (Model != null)
					{
						foreach (var Customer in Model.customersMySql)
						{
							<tr>
								<td>@Customer.id</td>
								<td>@Customer.first_name</td>
								<td>@Customer.last_name</td>
								<td>@Customer.sex</td>
								<td>@Customer.birth_date.ToString("dd/MM/yy")</td>
								<td>@Customer.status</td>
								<td>@Customer.updated_at.ToString("dd/MM/yy")</td>
							</tr>
						}
					}
				}
			</tbody>
		</table>
	</div>

	<div class="table">
		<h3>Mongo Database</h3>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					@{
						foreach (var head in TableHeaders)
						{
							<th>
								@head
							</th>
						}
					}
				</tr>
			</thead>
			<tbody>
				@{
					if (Model != null)
					{
						foreach (var Customer in Model.customersMongo)
						{
							<tr>
								<td>@Customer.id</td>
								<td>@Customer.first_name</td>
								<td>@Customer.last_name</td>
								<td>@Customer.sex</td>
								<td>@Customer.birth_date.ToString("dd/MM/yy")</td>
								<td>@Customer.status</td>
								<td>@Customer.updated_at.ToString("dd/MM/yy")</td>
							</tr>
						}
					}
				}
			</tbody>
		</table>
	</div>
</div>

<div class="sync-button">
	<button type="button" class="btn btn-info" id="syncButton">Sync Databases</button>
</div>
<a href="/Home/Customers" class="btn btn-primary">Customers</a>
